<!doctype html>
<html>
   <head>
      <title>Crowd Filter</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js'></script>
      <script src="/socket.io/socket.io.js"></script>
      <link rel="stylesheet" href="style.css">
      <script src="list_page_controller.js"></script>
      <script src="testing.js"></script>
   </head>
   <body ng-app="myTestApp">
      <!-- <div ng-view></div> -->
      <div ng-controller = 'myTestController'>
         <nav class="navbar navbar-inverse">
            <div class="container-fluid">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Crowd Filter</a>
               </div>
            </div>
         </nav>
         <div ng-hide = 'thankyouPage' class="container-fluid text-center">
            <div class="row content">
               <div class="col-sm-10 text-left col-sm-offset-1">
                  <h1>Your task</h1>
                  <hr>
                  <p><strong>Purpose </strong>To better understand how users feel about Snapchat videos, we want to improve the quality of them by collecting your opinions. In this task, you will be asking to watch a few dozens of short videos and click those that you like.
                    Please follow the instructions and try the examples below.</p>
                  <p><strong>Instruction </strong>Mouse over each video to play them and mouse leave to pause them. Please make sure you have your speaker on. If you like the video, select the video by clicking it. You will see a blue border around the videos that you select. You can always unselect the video by clicking it again which will remove the blue border.
                    Feel free to try the following two examples out and click 'Start the task' when you feel you are ready.</p>
                  <p><strong>How to decide </strong>You don't have to watch the video to the end, but please watch each of them at least a little bit to get an idea of what it is about. Be aware that the videos are playign in loops.
                   Click the 'Submit' button at the end of the page and copy the code on the Thank you page to Mechanical Turk.</p>
                  <p>
                  </br></br>
                  <!-- <p>Mouse over: Play the video
                    <span style="color:red"><i class="glyphicon glyphicon-remove-sign"></i></span>;
                    Single Click: Similar to any reference video
                    <span style="color:lime"><i class="glyphicon glyphicon-check"></i></span>;
                    Double Click: Not similar but interesting <span style="color:lime"><i class="glyphicon glyphicon-check"></i></span>
                  </p> -->
                  <div ng-show = '!startTheTask' >
                    <h4>Example</h4>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                      <video id='-1' ng-mouseenter='startPlayer(-1)' ng-mouseleave="pausePlayer(-1)" ng-click='select(-1)' style='height: 428px;' loop>
                        <source src="/small_example/47.mp4" type="video/mp4" />
                         <!-- <source src="https://giant.gfycat.com/VerifiableTerrificHind.mp4" type="video/mp4" /> -->
                      </video>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                      <video id="-2" ng-mouseenter='startPlayer(-2)' ng-mouseleave="pausePlayer(-2)" ng-click='select(-2)' style='height: 428px;' loop>
                        <source src="/example/46.mp4" type="video/mp4" />
                         <!-- <source src="https://giant.gfycat.com/VerifiableTerrificHind.mp4" type="video/mp4" /> -->
                      </video>
                    </div>
                    <button class='btn btn-success btn-lg' ng-click='startTask()'>Start the task</button>
                  </div>

                  <div ng-show = 'startTheTask' ng-repeat='vid in videosSet'>
                     <div class="col-xs-12 col-sm-6 col-md-3">
                        <label for="checkbox1">
                           <video id="{{vid}}" ng-mouseenter='startPlayer(vid)' ng-mouseleave="pausePlayer(vid)" ng-click='select(vid)' style='height: 428px;' loop>
                             <source ng-src="/small_set/{{vid}}.mp4" type="video/mp4" />
                              <!-- <source src="https://giant.gfycat.com/VerifiableTerrificHind.mp4" type="video/mp4" /> -->
                           </video>
                        </label>
                     </div>
                  </div>
               </div>
            </div>
            <button ng-show = 'startTheTask'  class='btn btn-success btn-lg' ng-click='submit()' style='margin-bottom: 20px'>Submit</button>
         </div>
         <div ng-show = 'thankyouPage'>
           <div class="col-sm-10 text-left col-sm-offset-1">
             <h2>Thank you for participation! Please copy the following string to the AMT task page.</h2>
             <h4>{{uniqueID}}</h4>
           </div>

         </div>
      </div>
   </body>
</html>
